# Dotnet build outputs
**/bin/
**/obj/
**/out/

# EF Core Migrations
**/Data/Migrations/

# Banco SQLite
*.db

# Arquivos temporários de execução
*.db-shm
*.db-wal

# Configurações locais e secrets
secrets.json

# Rider
.idea/
*.sln.iml

**/.DS_Store

*.env*
*.DotSettings.user
identifier.sqlite
