---
const { unit, label } = Astro.props;
---

<div class="countdown-item">
    <div class="countdown-number" data-unit={unit}>0</div>
    <div class="countdown-label">
        {label}
    </div>
</div>
