---
const { id = 'story' } = Astro.props;
---
<section id={id} class="py-8 max-w-screen-md mx-auto">
    <h2 class="text-2xl font-semibold text-center mb-4">Nossa História</h2>
    <p class="text-justify px-4">
        Nos conhecemos em 2023 e desde então compartilhamos muitos momentos especiais. Esta celebração marca o inicio de
        uma nova etapa de nossa vidas.
    </p>
</section>
