---
const { id = 'galery' } = Astro.props;
---
<section id={id} class="py-8 text-center">
    <h2 class="text-2xl font-semibold mb-4">Galeria de Fotos</h2>
    <p>Em breve teremos lindas fotos para compartilhar!</p>
</section>
