---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/ui/Navigation.astro';
import HeroSectionElegant from '../components/sections/HeroSectionElegant.astro';
import WelcomeSection from '../components/sections/WelcomeSection.astro';
import CountdownSectionElegant from '../components/sections/CountdownSectionElegant.astro';
import StorySection from '../components/sections/StorySection.astro';
import DetailsSection from '../components/sections/DetailsSection.astro';
import DressCodeSectionElegant from '../components/sections/DressCodeSectionElegant.astro';
import GallerySection from '../components/sections/GallerySection.astro';
import GiftsSection from '../components/sections/GiftsSection.astro';
---

<Layout title="Casamento de Sara & Artur">
  <Navigation />

  <main>
    <HeroSectionElegant />
    <WelcomeSection />
    <CountdownSectionElegant />
    <StorySection />
    <DetailsSection />
    <DressCodeSectionElegant />
    <GiftsSection />
  </main>
</Layout>
