---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/ui/Navigation.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import WelcomeSection from '../components/sections/WelcomeSection.astro';
import CountdownSection from '../components/sections/CountdownSection.astro';
import StorySection from '../components/sections/StorySection.astro';
import DetailsSection from '../components/sections/DetailsSection.astro';
import DressCodeSection from '../components/sections/DressCodeSection.astro';
import GallerySection from '../components/sections/GallerySection.astro';
import GiftsSection from '../components/sections/GiftsSection.astro';
---

<Layout title="Casamento de Sara & Artur">
  <Navigation />

  <main>
    <HeroSection />
    <WelcomeSection />
    <CountdownSection />
    <StorySection />
    <DetailsSection />
    <GallerySection />
    <DressCodeSection />
    <GiftsSection />
  </main>
</Layout>
