---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import WeddingDetails from "../components/WeddingDetails.astro";
import OurStory from "../components/OurStory.astro";
import DressCode from "../components/DressCode.astro";
import GiftRegistry from "../components/GiftRegistry.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
---

<Layout>
    <NavBar />
    <main class="container mx-auto p-4 space-y-12">
        <WeddingDetails />
        <OurStory />
        <DressCode />
        <GiftRegistry />
        <PhotoGallery />
    </main>
</Layout>
