---
import "../styles/global.css"
---
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Sara e Artur</title>
</head>
<body>
<div class="min-h-screen bg-gradient-to-br from-slate-50 via-blue-50/30 to-slate-100">
    
</div>
</body>
</html>
